<!DOCTYPE html>
<html lang="en">
<head>
  <title>Jam Station</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  <style>
    nav ul {
    margin-left: 120px;
    margin-right: 120px;
  }
  
  .main-title {
    height: 45px;
  }

  nav li {
    margin-left: 30px;
    font-size: 18px;
  }

  .search-bar {
    width: 400px;
  }

  body {
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

  </style>
</head>
<body>

<nav class="navbar navbar-expand-sm bg-light navbar-light justify-content-center main-title">
  <div class="navbar-nav">
    <a class="navbar-brand" href="/"><h3>Jam Station<h3></a>
  </div>
</nav>

<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <div class="container">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mynavbar">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item te">
                <a class="nav-link" href="/admin">ADMIN</a>
            </li>
            </ul>
            <form class="d-flex mx-auto">
            <input class="form-control me-2 search-bar" type="text" placeholder="Search">
            <button class="btn btn-secondary" type="button">Search</button>
            </form>
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link" href="/createProfile">Create Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/profile">Profile</a>
            </li>
            </ul>
        </div>
    </div>
</nav>

<nav class="navbar navbar-expand-sm bg-secondary navbar-dark justify-content-center">
<ul class="navbar-nav">
    <li class="nav-item">
    <a class="nav-link" href="/guitars">Guitars</a>
    </li>
    <li class="nav-item">
    <a class="nav-link" href="/keys">Keys</a>
    </li>
    <li class="nav-item">
    <a class="nav-link" href="/strings">Strings</a>
    </li>
    <li class="nav-item">
    <a class="nav-link" href="/drums">Drums</a>
    </li>
    <li class="nav-item">
    <a class="nav-link" href="/percussion">Percussion</a>
    </li>
    <li class="nav-item">
    <a class="nav-link" href="/microphones">Microphones</a>
    </li>
    <li class="nav-item">
    <a class="nav-link" href="/pedals">Pedals</a>
    </li>
</ul>
</nav>

<div class="container">
    <br>
    <div class="text-center"><h2>product Details</h2></div>
    <br>
    <% if (product) { %> 
        <div>
            <p><b>product Name:</b><br> <%= product.name %></p>
            <p><b>product Image:</b><br> <img src = "/image/<%= product.image %>" width="20%"></p>
            <p><b>Price:</b><br>$ <%= product.price %></p>
            <p><b>Details</b><br> <%= product.details %></p> 
        </div>
    <% } else { %>
        <p>No product found.</p>
    <% } %>
    <a href ="/">Back</a>
</div>
